<h1 class="container text-center mt-3">Groups</h1>
<div class="card card-content">
  <%= link_to 'New Group', new_group_path, class:"btn btn-success m-3" %>
  <ul class="list-group">
  <% @groups.each do |group| %>
    <li class="container-fluid d-md-flex border">
      <div class="col">
        <%= image_tag group.icon_image, class:"img-size" %>
      </div>
      <div class="col  d-flex justify-content-center">
        <a href=<%= group_path(group)%> class="text-decoration-none text-dark">
          Group's Name: <%= group.name %>
        </a>
      </div>
      <div class="col">
        <%= group.created_at.strftime('%d %b %Y at %l:%M%P') %>
      </div>
    </li>
    </a>
  <% end %>
    
  </ul>
</div>

