<p id="notice"><%= notice %></p>

<h1 class="has-text-centered title is-1">Groups</h1>
<div class="card card-content">
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td> <%= image_tag group.icon_image, class:"img-size" %></td>
        <td><%= group.name %></td>
        <td><%= group.user_id %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Group', new_group_path %>
<p>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is-info" %>
  <%= link_to 'transfer', root_path %> 
</p>
