<div class='container'>
  <div class='row'>
    <div class='col-lg-6 pt-5'>
      <div class="image  img-size-avatar border rounded">
        <%=image_tag current_user.avatar, class:'is-rounded'%>
      </div >
      <div class='mt-3 p-4 home__info d-flex justify-content-center border'>
        <div class='mr-4' >
         User Name: <%= @user.username %>
        </div>
        <div class='__info__email border'>
          Email: <%= @user.email%>
        </div>
      </div>
      <div>
        <%= link_to 'Edit User', edit_user_registration_path, class:'btn border-b text-decoration-none border mt-4' %>
      </div>
    </div>
    <div class='col-lg-6'>
      <div class="d-flex justify-content-center mt-5">
        <canvas id="home__chart"  data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
      </div>
    </div>
  </div>
</div>
 
<div>
  
</div>
