<h1 class="container text-center mt-3">Incomes</h1>
<div class="container-fluid m-3">
  <div class="card-content column is-half-mobile has-text-centered">
    <p class="font-weight-bold">The Total Amount is</p>
  </div>
  <div class="card-content ">
    <p class="is-size-6">  $<%= total_amount(@incomes) %> </p>
  </div>
</div>
<div class='card card-content ' >
  <%= link_to 'New Transfer', new_income_path, class:"btn btn-success m-3", data: { bs_target:"#income-modal", bs_toggle:"modal", remote: true } %>
 <ul class="list-group">
  <% @incomes.each do |income| %>
    <li class="container-fluid d-md-flex m-1" >
      <div class="col ">
        Details: <%= income.name %>
      </div>
      <div class="col">
        Price: $<%= income.amount %>
      </div>
      <div class="col">
        <%= income.created_at.strftime('%d %b %Y at %l:%M%P') %>
      </div>
      <div class="col">
        <div class="d-flex align-items-center">
          <%= link_to edit_income_path(income) do%>
            <i class='fa-regular fa-pen-to-square'></i>
          <%end%>
          <%= link_to "<i class='fa-solid fa-trash-can'></i>".html_safe, income, method: :delete, data: { confirm: 'Are you sure?' }%>
        </div>
      </div>
    </li>
  <% end %>
    
  </ul>
  </div>

<% f = render FormComponent.new( model: @income) %>

<%= render ModalComponent.new(title:'Incomes', body: f , id: 'income-modal') %>
