<h1 class="container text-center mt-3">External Transfers</h1>
<div class="container-fluid m-3">
  <div class="card-content column is-half-mobile has-text-centered">
    <p class="is-size-5">The Total Amount is :</p>
  </div>
  <div class="card-content column is-half-mobile has-text-centered">
    <p class="is-size-6">  $<%= total_amount(@transfers_nil) %></p>
  </div>
</div>


<div class='card'>
 <%= link_to 'New Transfer', new_transfer_path, class:"btn btn-success m-3" %>
 <ul class="list-group">
  <% @transfers_nil.each do |transfer| %>
    <li class=" container-fluid d-md-flex my-4">
      <div class="col">
        Details: <%= transfer.name %>
      </div>
      <div class="col">
        Precio: $<%= transfer.amount %>
      </div>
      <div class="col">
        <%= transfer.created_at.strftime('%d %b %Y at %l:%M%P') %>
      </div>
    </li>
  <% end %>
    
  </ul>
  </div>
