<!DOCTYPE html>
<html>
  <head>
    <title>Kakebo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= turbo_include_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid d-flex ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class:"nav-link " %>
            </li>
            <li class="nav-item">
              <%= link_to 'Incomes', incomes_path, class:"nav-link " %>
            </li>
            <li class="nav-item">
              <%= link_to 'Transfers', transfers_path, class:"nav-link" %> 
            </li>
            <li class="nav-item">
              <%= link_to 'External Transfers', transfers_ext_path, class:"nav-link" %> 
            </li>
            <li class="nav-item">
              <%= link_to 'Groups', groups_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <%= turbo_frame_tag "modal" %>
      <%= yield %>
  </body>
</html>
